<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         backupGlobals="true"
         cacheResult="false"
         verbose="true">
  <coverage>
    <include>
      <directory suffix=".php">../src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="ClassMethod">
      <directory>./phpunit/ClassMethod</directory>
    </testsuite>
    <testsuite name="Constant">
      <directory>./phpunit/Constant</directory>
    </testsuite>
    <testsuite name="Smocky">
      <directory>./phpunit/Smocky</directory>
    </testsuite>
    <testsuite name="Phpunit">
      <directory>./phpunit/Phpunit</directory>
    </testsuite>
  </testsuites>
  <logging>
    <testdoxText outputFile="php://stdout"/>
    <junit outputFile="report-junit.xml"/>
  </logging>
</phpunit>
