parameters:
  level: max
  paths:
    - ./src
    - ./test
  bootstrapFiles:
    - ./test/phpstan/runkit7.stub.php
  ignoreErrors:
    - path: test/phpunit/Helpers/ClassWithMethods.php
      message: '/^Method .*\\ClassWithMethods::privateMethod\(\) is unused\.$/'