<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
        backupGlobals="true"
        cacheResultFile="./test/phpunit.cache.xml"
>
  <coverage>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="ClassMethod">
      <directory>./test/phpunit/ClassMethod</directory>
    </testsuite>
    <testsuite name="Functions">
      <directory>./test/phpunit/Functions</directory>
    </testsuite>
    <testsuite name="Constant">
      <directory>./test/phpunit/Constant</directory>
    </testsuite>
    <testsuite name="Smocky">
      <directory>./test/phpunit/Smocky</directory>
    </testsuite>
    <testsuite name="Phpunit">
      <directory>./test/phpunit/Phpunit</directory>
    </testsuite>
  </testsuites>
  <logging>
    <testdoxText outputFile="php://stdout"/>
    <junit outputFile="./test/report-junit.xml"/>
  </logging>
</phpunit>
